body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
}

header{
	min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: rgba(34, 49, 52, 0.9);
}

.fix-top{
	position: fixed;
	top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px){
	.container {
	    max-width: 540px;
	}
}
@media (min-width: 768px){
	.container {
	    max-width: 720px;
	}
}
@media (min-width: 992px){
	.container {
	    max-width: 960px;
	}
}
@media (min-width: 1200px){
	.container {
	    max-width: 1140px;
	}
}

.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
    margin-right: -15px;
}

.navbar-brand {
    padding: 15px 15px;
    font-size: 20px;
    line-height: 45px;
    color: red;
}

.navbar-brand span{
	padding-right: 5px;
    color: #fff;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav>li {
    position: relative;
    display: block;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
	color: #9d9d9d;
}

.navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}

@media (max-width:670px) {
	.row{
		flex-direction: column;
	}

}

@media (min-width: 768px){

	.container>.navbar-header {
	    margin-right: 0;
	    margin-left: 0;
	}

	.navbar-nav ul{
		flex: auto;
	}

	.navbar-nav {
	    float: left;
	    margin: 0;
	}

	.navbar-nav>li {
	    float: left;
	}

	.navbar-nav>li>a {
		color: #9d9d9d;
	    padding-top: 15px;
	    padding-bottom: 15px;
	}
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(./img/back_podcast.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 50px 0;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  border-radius: 4px;
}

.signup {
  background-color: red;
}

.signup:hover {
  background-color: #cd1717;
}

.about{
	padding: 5em 0;
}

.about h2{
	color: red;
}

.about h2 span{
	color: #000;
}

.lead {
	font-family: "Segoe UI";
    font-size: 1.25rem;
    font-weight: 300;
}


@media (min-width: 992px){
	.col-lg-3 {
	    -ms-flex: 0 0 25%;
	    flex: 0 0 25%;
	    max-width: 25%;
	    width: 100%;
	}
}


@media (min-width: 768px){
	.col-md-6 {
	    flex: 0 0 50%;
	    max-width: 50%;
	}

	.col-md-5 {
	    flex: 0 0 41.66667%;
	    max-width: 41.66667%;
	}

}

.contact{
	background: #c1c5c6;
    padding-top: 10px;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2{
	color: red;
}

.section-title span{
	color: #fff;
}

@media (min-width: 1024px){
	.section-title p {
	    width: 50%;
	}
}

.section-title p {
    margin: 15px auto 0 auto;
    font-weight: 300;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.mt{
    margin-top: 3rem!important;
}

.contact{
	padding: 60px 0;
}

.contact .info-wrap {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    background: #fff;
}

.contact .info i {
    font-size: 20px;
    color: #ffb03b;
    float: left;
    width: 44px;
    height: 44px;
    background: #fff6e8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
	margin-top: 0;
    padding: 0 0 0 60px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #433f39;
    font-family: "Poppins", sans-serif;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #7a7368;
}

#footer h3{
	color: red;
	font-size: 38px;
}

#footer span{
	padding-right: 5px;
    color: #fff;
}

#footer {
    background: #35322d;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}


#footer .social-links {
    margin: 30px 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #46423b;
    color: #fff;
    line-height: 35px;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: red;
}

.credits a{
	font-weight: bold;
	color: #fff;
}
